html {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color:rgb(238, 232, 224);
  

}

header {
  position: fixed;
  top: 0;
  width: 100%;
}


.introduction {
    display:inline-block;
    padding-left:60%;
    padding-top:20%;
    font-size:150%;
    
  
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}

.logo {
  margin-right: auto;
}

.nav-bar {
  padding-left: 30%;
  margin: 0;
  display: flex;
}

#nav-items {
  list-style: none;
  padding-right: 9vw;
  padding-top: 5vh;
}

a,
a:link a:visited a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkgreen;
  text-decoration: none;
}



.aboutParent{
    display:flex;
    flex-direction:row-reverse;
    color:seagreen;
    
    
    
}
  
.selfPortrait{
    overflow:hidden;
}

.aboutborderLine{
    border-right: 15% solid seagreen;
    height:15%;
}

.description{
    text-indent:15%;
    padding-top:20%;
}

.personal,.study,.workHistory {
    margin-bottom:10%;
    padding-left:5%;
    background-color:cornsilk;
}

.resume{
    
    padding-right:3.5%;
    
    
}


  

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


.indexbodyPage{
  background-image: url("stationary.jpg");
  background-size: cover;
  background-attachment: fixed;
  
}

body{
    background-image: none;
    backgoru
}


.socials{
    padding-bottom:4%;
    
    padding-left:50%;
    
    
}


.github-link{
    padding-left: 10%;
}

.navbar{
    display:flex;
    flex-direction:row;
    padding-left:50%;   
  }

  .selfPortrait{
    padding-top: 13%;
    padding-left: 10%;
    width: 80%;
  }
  
   .projectParent{
    display:flex;
    flex-direction:column;
    flex:shrink;
    overflow-x:auto;
    
  }
  .project1Img, .project2Img, .project3Img {
    padding-top:3%;
    padding-left:50%;
    width: 90%;
    padding-left:2%;
    height:auto;

  }


  .project1Title, .project2Title, .project3Title{
    padding-left:3%;
    padding-right:5%;
    line-height:150%;
    text-align: center;
    

  }

  .project1Description, .project2Description, .project3Description{
    padding-left:3%;
    padding-right:5%;
    line-height:150%;
  }

  .blogTitle{
    padding-right:35%;
    padding-top: 0%;
    
  }

  .blogParent{
    display:flex;
    flex-direction:column;
    align-items:center;
    /* width:100px; */
    /* height:100px; */
    /* overflow:hidden; */
  }

  .blogImages{
    width:90%;
    height: 1300px;
    justify-content: center;
    
  }

  .blogImages img{
    height: auto;
    width: 100%;
    padding-top: 0%;
  }

  li{
    list-style: none;
  }

  /* .blogPage{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  } */

  .blog1Description{
    padding-top:1%;
    padding-left:5%;
  }

  .blog1Content{
    padding-top:25%;
    padding-right:25%;
    padding-left:5%;
    text-indent:10%;
  }


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media only screen and (max-width: 440px) {
  .indexbodyPage, body {
    background-image: url("homebgp.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden;
  }

  .sproutLogo{
    padding-top:5%;
   
  }

  .introduction { 
    padding-top:50%;
    padding-left: 10%;
    padding-bottom: 105%;
    padding-right: 80%;
    font-size: 100%;
  }

  .navbar{
    display:flex;
    flex-direction:column;
    padding-top:3%;
    padding-left:5%;
    font-size:small;
    
  }


  .socials{
    padding-left:30%;
  }

  .navbarParent{
    bottom:0;
    position:fixed;
    font-size: large;
    
  }

  .navbar{
   line-height:0%;
  }


  .aboutParent{
    display:flex;
    flex-direction:column;
    padding-top:40%;
    padding-left:8%;
    width:200%;
  }

  
  .description{
    font-size: 70%;
    overflow:auto;
    padding-top:3%;
    padding-left:0%;
    padding-right:60%;
  }

  .personal{
    text-indent:15%;
    margin-bottom:7%;
  }

  .study{
    margin-bottom:7%;
  }


.resume{
    font-size:70%;
    padding:5% 0% 8% 5%;
    
}
.resumeImg{
    height:auto;
    max-width:100%;

}
  .projectTitle{
    padding-right:35%;
    padding-top:0%;

    
    
  }

  .projectbodyPage{
    overflow-x:auto;
    
    
  }

  .projectParent{
    display:flex;
    flex-direction:column;
    flex:shrink;
    overflow-x:auto;
    
  }
  .project1Img, .project2Img, .project3Img {
    padding-top:39%;
    padding-left:50%;
    width: 90%;
    padding-left:2%;
    height:auto;

  }


  .project1Title, .project2Title, .project3Title{
    padding-left:3%;
    padding-right:5%;
    line-height:150%;
    text-align: center;
    

  }

  .project1Description, .project2Description, .project3Description{
    padding-left:3%;
    padding-right:5%;
    line-height:150%;
  }

  .blogTitle{
    padding-right:35%;
    padding-top: 0%;
    
  }

  .blogParent{
    display:flex;
    flex-direction:column;
    align-items:center;
    /* width:100px; */
    /* height:100px; */
    /* overflow:hidden; */
  }

  .blogImages{
    width:90%;
    height: 1300px;
    justify-content: center;
    overflow:hidden;
  }

  .blogImages img{
    height: auto;
    width: 100%;
    padding-top: 0%;
  }

  li{
    list-style: none;
  }

  /* .blogPage{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  } */

  .blog1Description{
    padding-top:8%;
  }

  .blog1Content{
    padding-top:25%;
    padding-right:25%;
    padding-left:5%;
    text-indent:10%;
  }

  .contactTitle{
    padding-left:18%;
    padding-top: 10%;
    font-size:xx-small;
}

  .details {
    padding-top:28%;
    padding-left:5%;

  }

  .contactParent{
    padding-left:4%;
    padding-right:50%;
  }

footer{
    display:flex;
    flex-direction:column;
    align-content:space-between;
    overflow-x:auto;
   
}


}